body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  text-align: 'center';
  padding: 20px;
}
input {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #4CAF50;
	background: rgba(76, 175, 80, 0.2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: white;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: 'white';
  border: 'none';
  border-radius: '5px';
}